name: Build and Push Frontend

on:
  push:
    tags:
      - 'fe-v*'

env:
  REGISTRY: europe-central2-docker.pkg.dev
  IMAGE_NAME: b2b-front

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}

      - name: Set VERSION
        id: set_version
        run: |
          VERSION=$(git describe --tags --abbrev=0)
          echo "VERSION=$VERSION" >> $GITHUB_ENV
          echo $VERSION > version.txt

      - name: Save version as artifact
        uses: actions/upload-artifact@v4
        with:
          name: frontend-version
          path: version.txt

      - name: Configure Docker for Artifact Registry
        run: |
          gcloud auth configure-docker europe-central2-docker.pkg.dev
          echo "Project ID: ${{ secrets.GCP_PROJECT_ID }}"
          echo "Tag: ${{ env.VERSION }}"

      - name: Build and push Docker image
        run: |
          PROJECT_ID="${{ secrets.GCP_PROJECT_ID }}"
          TAG_NAME="${{ env.VERSION }}"
          REGISTRY="${{ env.REGISTRY }}"
          IMAGE_NAME="${{ env.IMAGE_NAME }}"
          REPOSITORY="b2b-front"

          # Формуємо повний шлях до образу
          IMAGE_TAG="${REGISTRY}/${PROJECT_ID}/${REPOSITORY}/${IMAGE_NAME}:${TAG_NAME}"
          echo "Final image tag: '${IMAGE_TAG}'"

          # Переходимо в папку frontend для збірки
          cd frontend
          docker build --build-arg APP_VERSION="${TAG_NAME}" -t "${IMAGE_TAG}" .
          docker push "${IMAGE_TAG}"
